<nav class="navbar navbar-dark bg-success text-white">
  <div class="navbar-brand"><%= link_to 'ウバポス', posts_path, class: "link" %><i class="fas fa-biking"></i></div>
</nav>
        <h3 class="card-title"><%= @user.name %></h3>
      