<header class="mb-4">
  <nav class="navbar navbar-dark bg-success text-white">
    <div class="navbar-brand">ウバポス</div><i class="fas fa-biking"></i>
  </nav>
</header>
<div class="text-center  ">
    <h1>フードデリバリー配達員の皆様お疲れ様です</h1>
    <h2 class ="w-70 mx-auto mt-5" >フードデリバリー配達員のための掲示版</h2>
</div>

<div class="text-center">
  <div class="btn-group-vertical ">
    <%= link_to 'どんな掲示板なんですか？', toppages_explanation_path, class: 'btn btn-success btn-lg'%>
    <%= link_to '初めての配達員の方は会員登録', signup_path, class: 'btn btn-success btn-lg'%>
    <%= link_to 'ログイン', login_path, class: "btn btn-success btn-lg" %>
</div>
</div>
<div class = "rider mt-5"></div>
